@{
    ViewBag.Title = "Http500";
}

<h2>Http404</h2>

<!-- HACK: de http://stackoverflow.com/questions/619895/how-can-i-properly-handle-404-in-asp-net-mvc -->

<p>
    Ocorreu erro "@if (@Request.Url != null)
                 {
                    @Request.Url.Query
                 }".
</p>

<p>
    @Html.ActionLink("Clique aqui para voltar 'a pagina inicial.", "Index", "Home")
</p>